@model TraningGenerator.Models.PersonTrainingInfo

@{

    IEnumerable<SelectListItem> trainingSelection = (IEnumerable<SelectListItem>)ViewData["traningSelection"];
    IEnumerable<SelectListItem> hoursOfTrainingSelection = (IEnumerable<SelectListItem>)ViewBag.hoursOfTrainingSelection;
}

<p>Fyll i frågorna nedan om din träning för att generera ditt nya träningsprogram!</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TrainingRecommendation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearOfBirth" class="control-label"></label>
                @*<input asp-for="YearOfBirth" class="form-control" />*@
                @Html.DropDownListFor(m => m.YearOfBirth,
                    new SelectList(Enumerable.Range(DateTime.Now.Year -100, 101).Reverse()), "Välj år")
                <span asp-validation-for="YearOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HoursOfTrainingNow" class="control-label"></label>
                <br />
                @foreach (SelectListItem item in hoursOfTrainingSelection)
                {
                    <input asp-for="HoursOfTrainingNow" type="radio" value="@item.Value"> @item.Text<br />
                }
                <span asp-validation-for="HoursOfTrainingNow" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FavoriteTraining" class="control-label"></label>
                <br />
                <span asp-validation-for="FavoriteTraining" class="text-danger"></span>
                @foreach (SelectListItem item in trainingSelection)
                {
                    <input asp-for="FavoriteTraining" type="radio" value="@item.Value"> @item.Text<br />
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Generera nytt träningsprogram" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
